<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Raspberry form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>
	<h1>Adding new Raspberry</h1>
	<form th:object="${raspberry}" th:action="@{save}" action="#" method="post">
		  <table>
		  <input type="reset" value="Reset">
			<tr>
				<td><label for="location">Location: </label></td>
				<td><input type="text" id="location" th:field="*{location}" class="form-control"/></td>
				<td th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Error</td>
			</tr>
			<tr>
				<td><label for="foundDevices">Found devices: </label></td>
				<td><input type="text" id="foundDevices" th:field="*{foundDevices}" class="form-control"/></td>
				<td th:if="${#fields.hasErrors('foundDevices')}" th:errors="*{foundDevices}">Error</td>
			</tr>
			<tr>
				<td><label for="latitude">Latitude: </label></td>
				<td><input type="text" id="latitude" th:field="*{latitude}" class="form-control"/></td>
				<td th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}">Error</td>
			</tr>
			<tr>
				<td><label for="longitude">Longitude: </label></td>
				<td><input type="text" id="longitude" th:field="*{longitude}" class="form-control"/></td>
				<td th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}">Error</td>
			</tr><tr>
				<td><label for="imageUrl">ImageUrl: </label></td>
				<td><input type="text" id="imageUrl" th:field="*{imageUrl}" class="form-control"/></td>
				<td th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}">Error</td>
			</tr>
			</tr><tr>
				<td><label for="explanation">Explanation: </label></td>
				<td><input type="text" id="explanation" th:field="*{explanation}" class="form-control"/></td>
				<td th:if="${#fields.hasErrors('explanation')}" th:errors="*{explanation}">Error</td>
			</tr>
			<tr>
				<td><label for="dateAdded">Date: </label></td>
				<td><input type="text" id="dateAdded" th:field="*{dateAdded}" class="form-control"/></td>
				<td th:if="${#fields.hasErrors('dateAdded')}" th:errors="*{dateAdded}">Error</td>
			</tr>
			<tr>
				<td><label for="timeStamp">TimeStamp: </label></td>
				<td><input type="array" id="timeStamp" th:field="*{timeStamp}" class="form-control"/></td>
			</tr>
			</table>
			<div style="clear: both; display: block; height: 10px;"> 
			<input type="submit" value="Save" class="btn btn-success">
			
		</form>
    
</body>
</html>